
body{
    background-color: burlywood;
}






.jumbotron{
text-align: left;
text-shadow: blue;
font-size: larger;
display: flex;
align-items: center;
justify-content: center;
}

.heading{
    text-align: center;
    background-image: image("fue1.jpeg");
    font-size: 60px;
    text-decoration: cornsilk;
}
 
.text{
    font-size: 20px;
    padding-left: 15px;
}
img{
    max-width: 100%;
}
.thumbnail{
    flex-basis: 30%;
}
.header-right{
    font-size: 15px;
    text-decoration-color: paleturquoise;
}
